.em,.em-svg{height:1.5em;width:1.5em;background-position:center;background-repeat:no-repeat;background-size:contain;display:inline-block;vertical-align:middle}
.em-dart{background-image:url("https://twemoji.maxcdn.com/2/72x72/1f3af.png")}
.em-dart.em-svg{background:url("https://twemoji.maxcdn.com/2/72x72/1f3af.png");background-image:url("https://twemoji.maxcdn.com/2/svg/1f3af.svg"),none}
.em-arrow_right{background-image:url("https://twemoji.maxcdn.com/2/72x72/27a1.png")}
.em-arrow_right.em-svg{background:url("https://twemoji.maxcdn.com/2/72x72/27a1.png");background-image:url("https://twemoji.maxcdn.com/2/svg/27a1.svg"),none}
.em-arrow_left{background-image:url("https://twemoji.maxcdn.com/2/72x72/2b05.png")}
.em-arrow_left.em-svg{background:url("https://twemoji.maxcdn.com/2/72x72/2b05.png");background-image:url("https://twemoji.maxcdn.com/2/svg/2b05.svg"),none}
.em-stadium{background-image:url("https://twemoji.maxcdn.com/2/72x72/1f3df.png")}
.em-stadium.em-svg{background:url("https://twemoji.maxcdn.com/2/72x72/1f3df.png");background-image:url("https://twemoji.maxcdn.com/2/svg/1f3df.svg"),none}
.em-baseball{background-image:url("https://twemoji.maxcdn.com/2/72x72/26be.png")}
.em-baseball.em-svg{background:url("https://twemoji.maxcdn.com/2/72x72/26be.png");background-image:url("https://twemoji.maxcdn.com/2/svg/26be.svg"),none}
.em-volcano{background-image:url("https://twemoji.maxcdn.com/2/72x72/1f30b.png")}
.em-volcano.em-svg{background:url("https://twemoji.maxcdn.com/2/72x72/1f30b.png");background-image:url("https://twemoji.maxcdn.com/2/svg/1f30b.svg"),none}
.em-male-judge{background-image:url("https://twemoji.maxcdn.com/2/72x72/1f468-200d-2696-fe0f.png")}
.em-male-judge.em-svg{background:url("https://twemoji.maxcdn.com/2/72x72/1f468-200d-2696-fe0f.png");background-image:url("https://twemoji.maxcdn.com/2/svg/1f468-200d-2696-fe0f.svg"),none}
.em-comet{background-image:url("https://twemoji.maxcdn.com/2/72x72/2604.png")}
.em-comet.em-svg{background:url("https://twemoji.maxcdn.com/2/72x72/2604.png");background-image:url("https://twemoji.maxcdn.com/2/svg/2604.svg"),none}

