article h1, article h2, article h3, article h4, article h5, article button {
    font-family: 'Open Sans Condensed', sans-serif;
	font-display: optional;
    color: #333;
    text-rendering: optimizeLegibility;
}

article h1 {
    font-size: 7em;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0 auto 5px;
    text-align: center;
    color: #ffffff;
    letter-spacing: -1px;
}
article h1 + h2 {
    color: white;
    line-height: 36px;
    margin-bottom: 10px;
}

.intro p {
    font: normal 20px 'PT Serif', serif;
	font-display: optional;
    text-align: left;
    line-height: 30px;
    color: #ffffff;
}

p.byline {
    font: normal 14px "Open Sans", sans-serif;
	font-display: optional;
    width: 90%;
    margin: auto;
    text-align: center;
}

.center {
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

.hide {
    display: none;
}

.ad {
    margin: 10px auto;
}

article {
    background-image: url('../img/slugger-bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    float: none;
    text-align: center;
}

.latest-news {
    text-align: center;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    max-width: 900px;
    margin: 30px auto;
    padding: 12px;
}

.grid-wrapper {
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(10px, auto);
    width: 100%;
}

.intro {
    -ms-grid-column: 1;
    grid-column: 1 / 4;
    -ms-grid-row: 1;
    grid-row: 1;
    margin: 30px auto;
    margin-bottom: 0;
    max-width: 600px;
}

#stats p {
    font-family: 'PT Serif', serif;
	font-display: optional;
    font-size: 25px;
    line-height: 45px;
    text-align: left;
    margin-bottom: 30px;
}
i.em span { display: none; }
.em-comet {
    transform: rotate(270deg) scaleX(-1);
}
.large { font-size: 150%; }
.nowrap { white-space: nowrap; }

.left {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
}

.center-text {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
    align-self: center;
    padding: 30px;
    background-color: #ccc;
    border: 5px solid white;
    box-shadow: 0px 0px 25px 5px #0C2340;
    -webkit-box-shadow: 0px 0px 25px 5px #0C2340;
    -moz-box-shadow: 0px 0px 25px 5px #0C2340;
    margin-bottom: 20px;
}

article h2 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #0C2340;
    letter-spacing: -1px;
}

table.stats {
    width: 100%;
    margin: auto;
}

table.stats tr.gap {
    border-top: 20px solid #ccc;
}

article td, article thead th {
    padding: 5px;
    border-bottom: 1px solid white;
    font: normal 18px 'PT Serif', serif;
    vertical-align: middle;
}

article tbody th {
    width: 130px;
    font: bold 17px 'Open Sans Condensed', sans-serif;
    background-color: #0C2340;
    color: #fff;
    text-transform: uppercase;
    border-bottom: solid 1px white;
    vertical-align: middle;
}

article p {
    font: normal 18px 'PT Serif', serif;
    text-align: center;
    margin-bottom: 10px;
}
#stats p.datestamp, p.datestamp {
    color: #aaa;
    text-align: center;
	line-height: 24px;
}

.right {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 2;
    grid-row: 2;
}

/*--------- CHART STYLES ---------*/
section#bottom-chart {
    background-color: white;
    -ms-grid-column: 1 / 4;
    grid-column: 1 / 4;
    -ms-grid-row: 3;
    grid-row: 3;
}
section#bottom-chart h2 {
    margin-top: 50px;
}
section svg#daily {
    margin: auto;
    width: 80%;
    height: 400px;
}
figure button.active {
    background-color: #CCF;
}
figure button {
    border: 1px solid #999;
    text-transform: uppercase;
    font-size: 200%;
    font-weight: bold;
    margin: 5px 10px;
}
/*--------- HANDHELD ---------*/

@media only screen and (min-width: 250px) and (max-width: 727px) {

    .grid-wrapper{
        display: block;
    }

    .intro {
        margin: 0;
        padding-top: 10px;
    }

    article h1 {
        font-size: 6em;
        line-height: 0.9em;
        color: #FFF;
        -webkit-text-stroke: 2px #c01d1f;
        letter-spacing: -4px;
    }
    article h1 + h2 {
    }

    .left, .right {
        display: none;
    }

    .center-text {
        margin-top: 10px;
        padding: 15px;
        box-shadow: none;
        border: none;
    }

    section#stats.center-text p {
        font-size: 20px;
        line-height: 40px;
    }

    table.stats {
        table-layout: fixed;
    }

    .stats th {
        padding: 3px;
    }

    section#bottom-chart h2 {
        line-height: 1em;
    }

    section#bottom-chart p {
        margin: 10px;
    }

    section svg#daily {
        margin-left: -30px;
        width: 100%;
    }
}

/*--------- TABLET ---------*/

@media only screen and (min-width: 728px) and (max-width: 1100px) {

    article h1 {
        margin-bottom: 0;
    }

    article h1, article h1 + h2 {
        -webkit-text-stroke: 2px #c01d1f;
    }

    .left {
        grid-column: 1;
        grid-row: 2;
    }
    .right { 
        grid-column: 3;
        grid-row: 2;
    }

    .center-text {
        grid-column: 1 / 4;
        grid-row: 3;
        margin: -350px 50px 20px 50px;
    }

    table.stats {
        width: 75%;
        table-layout: fixed;
    }

    .stats th {
        width: 175px;
        padding: 3px;
    }

    section#bottom-chart {
        grid-row: 4;
    }
}
#rh-subnav { display: none; }
